untuk mengerjakan challenge pada modul ini:
1. fork repository ini kedalam akun github masing-masing (format nama repo: **NIM_Modul-xx**, contoh: *I0320017_Modul-02*)
2. clone repository hasil fork kedalam local masing-masing
3. pelajari dan modifikasi file ini (playground.ipynb)
4. run cell code yang telah dimodifikasi
4. commit dan push hasil modifikasi ke repository hasil fork

---

**# untuk mengerjakan challenge ganti ___ dengan syntax yang sesuai**

In [4]:
z = 2 + 3j
print(f"Bilangan kompleks: {z}")
print('Bilangan kompleks :', z)

Bilangan kompleks: (2+3j)
Bilangan kompleks : (2+3j)

In [21]:
z = 2 + 3j
real_part = z.real
imaginary_part = z.imag
print(f"bilangan real:{real_part}")
print('bilangan imaginer :', imaginary_part)

bilangan real:2.0
bilangan imaginer : 3.0

In [13]:
artis = 'nhc'
album = 'you know me too well'
year = 2020
print(f"band {artis} merilis album berjudul {album} pada tahun {year}") #pake f" (format) dia bisa nyampurin banyak tipe
print('band ' + artis + ' ngerilis album bernama ' + album + ' pada tahun', (year)) #, year karna ini cuma khusus str aja diluar itu masuknya , (year)
print('band ' + artis + ' ngerilis album bernama ' + album + ' pada tahun' + year) #error karena year ga setipe string

band nhc merilis album berjudul you know me too well pada tahun 2020
band nhc ngerilis album bernama you know me too well pada tahun 2020

TypeError: can only concatenate str (not "int") to str

In [23]:
year = 2000+ 3
name = 'wawa'
print(f"{name} lahir pada tahun {year}")

wawa lahir pada tahun 2003

In [17]:
list = [1, 'dua', 3]
list.pop(0)
print(list) # kok bisa format diatas print kepake sama printnnya?

['dua', 3]

In [19]:
tuple = (1,3,7,6,1)
tuple.count(1)
print(tuple) # dia gabisa nerjemahin format diatas print kaya code atasnya ini

(1, 3, 7, 6, 1)

In [20]:
tuple = (1,3,7,6,1)
print(tuple.count(1)) # bisanya format didalem print

2

PALING BENER print(format yg mau diinput) daripada bingung ada yang bisa kepake ada yg gabisa

In [25]:
#setdefault 
#dict kosong
data = {}
#nambah kunci 'nama' dengan nilai 'dendy'
data.setdefault('nama', 'dendy')
#nambah kunci 'umur' dengan nilai 21
data.setdefault('umur', '21')
#nambah kunci nama lagi GAAKAN PENGARUH KARNA SUDAH ADA KUNCI SEBELUMNYA
data.setdefault('nama', 'wawa')
#HOW IF nambahin kunci Nama (n besar)
#masuk kunci baru karna secara penulisan beda
data.setdefault('Nama', 'wawa')
print(data)

{'nama': 'dendy', 'umur': '21', 'Nama': 'wawa'}

In [27]:
#update
data = {'nama': 'wawa', 'umur': 21}
#nambah dict baru
data.update({'alamat': 'wonogiri'})
print(data)
#ganti data
data.update({'nama': 'awa'})
print(data)

{'nama': 'wawa', 'umur': 21, 'alamat': 'wonogiri'}
{'nama': 'awa', 'umur': 21, 'alamat': 'wonogiri'}

In [32]:
#dict.pop
data = {'nama': 'wawa', 'umur': 21}
hapusUmur = data.pop('umur')
print(hapusUmur) 
print(data)
#dia harus begini formatnya weh, gabisa kalo yg print(format)

21
{'nama': 'wawa'}

## Input

In [31]:
nama = input("Masukkan nama: ")
print("Halo, " + nama)

Halo, wawa

In [3]:
# challenge 1
# masukkan id pada input sesuai dengan tipe data yang sudah ditentukan
id = int(input("Masukkan ID: "))
print("ID: " + str(id))

ID: 125

## Tipe Data

In [2]:
nama = "POSI"
tahun = 2020
print(type(nama))
print(type(tahun))
print(type("TI UNS"))

<class 'str'>
<class 'int'>
<class 'str'>

### 1. Numerik

#### a. Integer

In [ ]:
a = 10
b = 5
print(a + b)
print(a - b)

15
5

In [16]:
x = 10
user = int(input("Enter a number: "))

while user != x:
    if user > x:
        print("Too high")
    elif user < x:
        print("Too low")
    else:
        print("Number correct")
    user = int(input("Enter a number: "))

Too high
Too low

In [17]:
# challenge 2
x = 10
y = 3

command = int(input("Masukkan command: "))
if command == 1:
    print(f"{x} pangkat {y} = {x ** y}") # output seharusnya 1000
else:
    print("Command tidak dikenali")

10 pangkat 3 = 1000

#### b. Float

In [38]:
mie_iblis = 13.5
udang_keju = 13
total = (13.5 + 13)*1000
print(f"harga total adalah {total} rupiah")
print("harga total adalah {} ribu rupiah".format((mie_iblis + udang_keju)*1000))

harga total adalah 26500.0 rupiah
harga total adalah 26500.0 ribu rupiah

In [4]:
x = 121.5689
# dibulatkan ke atas
print("x ceil = {:.1f}".format(x))

x ceil = 121.6

In [1]:
# challenge 3
# modifikasi value x dan y
x = 120.5
y = 120.5
print(f"x + y = {x + y}") # x + y should be 241

x + y = 241.0

#### c. Complex

In [2]:
#2 as bilangan real
#3j as bilangan imajiner
z = 2+3j
print(z.real)
print(z.imag)

2.0
3.0

### 2. String

In [ ]:
artist = "Arctic Monkeys"
album = "AM"
year = 2013
print(f"{artist} released {album} in {year}")

Arctic Monkeys released AM in 2013

In [ ]:
password = "imperiale2022"

pwd = input("Enter password: ")
if pwd.lower() == password:
    print("Access granted")
else:
    print("Access denied")

Access granted

### 3. Sequence

#### a. List

In [22]:
#dalem list itu isinya indeks mulai 0
ini_list = [1, "dua", 3.0, "empat", "decimal", ["a", "b", "c"]] #abc itu list dalam list, indeksnya juga mulai dari 0
print(ini_list[0])
print(ini_list[1:3]) #indeks satu sampai sebelum 3
print(ini_list[-1]) #minus dimulai dari belakang dimulai dari indeks -1
print(ini_list[5][1]) #indeks 5, karena dlm indeks 5 ada list lagi jadi indeks 1 nya indeks 5

1
['dua', 3.0]
['a', 'b', 'c']
b

In [26]:
# challenge 4
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list2[8::-2]) 
# output seharusnya [9, 7, 5, 3, 1]

[9, 7, 5, 3, 1]

In [7]:
# challenge 5
ls = ["John", 25, True, 3.14, "apple"]

ls.insert(2,"orange") #masukin elemen ke indeks berapa
print(ls) # Output: ['John', 25, 'orange', True, 3.14, 'apple']

ls.remove(25) #hapus pake elemen
print(ls)

ls.pop(-2) #hapus pake indeksnya
print(ls)

['John', 25, 'orange', True, 3.14, 'apple']
['John', 'orange', True, 3.14, 'apple']
['John', 'orange', True, 'apple']

#### b. Tuple

In [ ]:
# menghitung elemen yg ada di indeks
ini_tuple = (1, "dua", 3.0, "empat", "decimal", ["a", "b", "c"], 1)
print(ini_tuple[0])
print(ini_tuple.count(1))       # dalem kurung pake elemen, output 1= ada berapa banyak di indeks
print(ini_tuple.index("empat")) # dalem kurung pake elemen, output dia indeks keberapa

1
2
3

### 4. Dictionary

In [1]:
employee = {
    'name': 'Erik',
    'age': 53,
    'address': 'Jl. Mangkunegaran 10',
    'hobbies': ['reading', 'swimming', 'travelling'],
    'is_married': True,
    'children': {
    'son': 'Ethan',
    'daughter': 'Emily'
    }
}

In [2]:
# challenge 6
# ubah value dari key 'name' menjadi 'Samuel'
employee['name'] = "Samuel"
print(employee['name'])

Samuel

In [12]:
# challenge 7
# ubah value dari key 'age' menjadi 20 berdasatkan input user
employee = {
    'name': 'Erik',
    'age': 53,
    'address': 'Jl. Mangkunegaran 10',
    'hobbies': ['reading', 'swimming', 'travelling'],
    'is_married': True,
    'children': {
    'son': 'Ethan',
    'daughter': 'Emily'
    }
}
employee['age'] = int(input("masukkan umur : "))
print(employee['age'])

20

CHALLENGE PAS PROKOM

In [13]:
# konversi dari celcius ke fahrenheit
suhu = int(input("masukkan suhu dalam celcius: "))
fahrenheit = (9/5) * suhu + 32
print(f"suhu dalam fahrenheit: {fahrenheit} F")

suhu dalam fahrenheit: 212.0 F

In [15]:
# konversi dari kelvin ke fahrenheit
suhu_kelvin = int(input("masukkan suhu dalam kelvin: "))
fahrenheit = (9/5) * (suhu_kelvin - 273) + 32
print(f"suhu dalam fahrenheit: {fahrenheit} F")

suhu dalam fahrenheit: 212.0 F

In [ ]:
IMPERIALE2022 = {
    'Kelas A' : {
    'anggota 1' : 
    }
}